.nav {
	&__list {
		display: flex;
		justify-content: center;
		column-gap: 90px;
		margin-bottom: 1px;

		@media (max-width: $mobileSize) {
			column-gap: 50px;
			margin-bottom: -2px;
		}

		@media (max-width: $smallMobileSize) {
			column-gap: 30px;
		}

		li {
			padding-bottom: 19px;
			@media (max-width: $mobileSize) {
				padding-bottom: 5px;
			}
		}
	}

	&__item {
		font-size: 16px;
		color: $primaryColor;
		font-weight: $mediumWeight;
		text-transform: uppercase;

		position: relative;
		padding: 0 7px;
		padding-bottom: 19px;

		@media (max-width: $mobileSize) {
			font-size: 15px;
			padding: 0;
			padding-bottom: 5px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;

			width: 100%;
			height: 0px;
			transition: height 0.15s ease-in-out;

			background-color: $accentColor;
			border-radius: 5px;
		}

		&:hover {
			&::after {
				height: 5px;
				@media (max-width: $mobileSize) {
					height: 3px;
				}
				@media (hover: none) and (pointer: coarse) {
					height: 0;
				}
			}
		}

		&--active {
			font-weight: $semiBoldWeight;

			&::after {
				height: 5px;
				@media (max-width: $mobileSize) {
					height: 3px;
				}
			}

			&:hover {
				&::after {
					height: 5px;
					@media (max-width: $mobileSize) {
						height: 3px;
					}
				}
			}
		}
	}
}
