.products {
	&__container {
		@media (max-width: $mobileSize) {
			padding-right: 0px;
		}
	}

	&__title {
		font-size: 22px;
		font-weight: $mediumWeight;
		margin-bottom: 25px;

		@media (max-width: $mobileSize) {
			font-size: 18px;
			margin-bottom: 40px;
		}
	}

	&__slider {
		@media (max-width: $mobileSize) {
			padding: 0 12px !important;
		}
	}
}
