::selection {
	color: $secondlyColor;
	background: $accentColor;
}

html {
	scrollbar-color: $accentColor $secondlyColor;
	scrollbar-width: thin;
}

body {
	font-family: $primaryFamily;
	color: $primaryColor;
	font-size: 14px;
}

.container {
	max-width: 1068px + $containerPaddingLR * 2;
	margin: 0 auto;
	padding: 0 $containerPaddingLR;
}

svg {
	display: flex;
}

.page {
	opacity: 0;
	transform: translateX(-100%);
	visibility: hidden;
	position: fixed;

	&--active {
		opacity: 1;
		transform: translateX(0);
		transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;

		visibility: visible;
		position: static;
	}
}
