//* Fonts
$primaryFamily: "Montserrat", sans-serif;

//* Font weights
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;

//* Colors
$primaryColor: #444;
$secondlyColor: #fff;
$accentColor: #429f3a;
$underlineColor: #b2b2b2;
$tabletTextColor: #454343;
$borderCardColor: #dedede;
$nameCardColor: #424141;
$fromCardColor: #89817f;
$amountCardColor: #a69895;
$priceCardColor: #3d3c3c;
$ratingColor: #f9ce1e;
$mobileNameCardColor: #000;
$mobileInfoCardColor: #4d4b4b;

//* Paddings & magrins
$containerPaddingLR: 20px;

//* Media size
$laptopSize: 970px;
$mobileSize: 550px;
$smallMobileSize: 370px;
